require 'spec_helper'

describe ${1:controller}Controller do
  before :each do
    activate_authlogic
    @current_user = Factory.create(:user)
    UserSession.create(@current_user)
  end

  ${2}
end
